html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.separator {
  max-width: 300px;
  margin: 0 auto 15px auto;
  height: 2px;
  background: linear-gradient(to right,#12daff,#D721C9);
  border-color: transparent;
}

.special {
  color: #333;
}


/* navigation styles*/

#navigation {
  padding: 0;
}

.navbar {
  margin: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

#mobile-nav {
  font-size: 1.4em;
  display: none;
}

#bootstrap-override a {
  color: #12daff;
}

#bootstrap-override a:hover {
  color: #ffffff;
}

.navbar a::after {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 75%;
  height: 1px;
  background: linear-gradient(to right,#12daff,#D721C9);
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  transform: translateY(-4px);
  }

.navbar a:hover::after,
.navbar a:focus::after {
  color: #ffffff;
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  }

/* intro styles */

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  margin-bottom: 0px;
  color: #ffffff;
}

#heading:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background: url("https://s24.postimg.org/gqq62l5wl/cannonbeachblue.jpg") center center fixed no-repeat;
  background-color: rgba(127, 76, 178, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.intro-text {
  padding: 100px 0;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
   -o-animation: fadein 3s;
      animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.intro-text h1 {
  font-size: 100px;
}

.typed {
  display: inline-block;
  position: relative;
}

.alex {
  font-size: 50px;
}

.me {
  display: inline-block;
  font-size: 50px;
}

.typedtext {
  color: #12daff;
  display: inline-block;
  margin-left: 5px;
  font-size: 50px;
}

.arrow {
  opacity: 0;
  position: absolute;
    left: 50%;
    top: 90%;
  transform-origin: 90% 90%;
  transform: translate3d(-90%, -90%, 0);
}

.arrow-1 {
    animation: arrow-movement 4s ease-in-out infinite;
}
.arrow-2 {
    animation: arrow-movement 4s 1.25s ease-in-out infinite;
}

.arrow-3 {
    animation: arrow-movement 4s 2.75s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #12daff;
  content: '';
  display: block;
  height: 3px; 
  position: absolute;
    top: 0;
    left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0%   { 
    opacity: 0;
    top: 85%;
  }
  70% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}


/* portfolio styles */

#portfolio  h1 {
  color: #12daff;
}

#portfolio i {
  font-size: 20px;
}

/*style for the slick slider*/
/*general*/
.slider {
        width: auto;
        margin: 40px auto;
    }
.slick-slide {
      margin: 0px 20px;
  }
.slick-prev:before,
.slick-next:before {
        color: #12daff;
}
.slide-item img{
  height: 300px;
  padding-bottom: 30px;
}
.slick-dots li button:before {
  color: #12daff !important;
  font-size: 10px;
  margin-top: 10px;
}

.slick-arrows {
  background-color: #12daff;
}

.slick-prev {
  left: -35px;
}

.slick-prev:before, .slick-next:before {
  font-size: 25px;
  line-height: 0;
}

/*portfolio*/
.slider-portfolio-pic{
  height: 250px;
  margin: 5px auto;
    width:100%;
}

.slider-portfolio-content{
  height: 120px;
  margin: 10px 10px auto;
}

#portfolio-text-content{
  margin-top: 0;
  color: #ffffff;
}

.slider-portfolio-pic img{
  width: 100%;
  height: 300px;
}

.slider-portfolio-nav, .slider-portfolio-nav img{
  height: 150px ;
  width: 100%;
  background-size: cover;
}

.slider-for img{
 margin: 0 auto;
}

.portfolio-section{
  background-color: #242526;
  margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    padding: 150px 0;
}
.portfolio-section h2{
  margin-bottom:5px;
}


/* about-me styles */
#about-me {
  font-size: 1.5em;
  background: url("https://i.imgur.com/bUDnXZg.jpg") center center fixed no-repeat;
  background-color: rgba(127, 76, 178, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  color: #fff;
  padding: 100px 0;
}

#about-content {
  margin-top: 5%;
}

#about-me img {
  border-radius: 100%;
  width: 8em;
  height: auto;
}

#resume {
  margin-top: 10%;
  margin-left: 35%;
  background-color: rgba(61, 61, 142, 0.4);
  border-color: #D721C9;
  outline: 0;
  color: #12daff;
  transition: 300ms;
}

#resume:hover {
  background-color: rgba(61, 61, 142, 1);
  color: #ffffff;
}




/* contact styles */

#contact {
  background-color: #181919;
  color: #ffffff;
}

.social {
  list-style: none;
  padding: 0px;
}

.social li {
  display: inline;
  margin: 10px;
}

.social li a {
  display: inline-block;
  color: #6F5EA9;
  width: 50px;
  height: 50px;
}

.social li a:hover {
  color: #D721C9;
}

#github, #linked-in, #twitter, #email {
  border-radius: 50%;
  border: solid 2px rgba(61, 61, 142, 0.86);
  font-size: 1.5em;
  padding: 10px;
}

#github:hover {
  background-color: #333;
  color: #ffffff;
}

#linked-in:hover {
  background: #007bb6;
  color: #ffffff;
}

#twitter:hover {
  background: #55acee;
  color: #ffffff;
}

#email:hover {
  background: #db4b39;
  color: #ffffff;
}

#bottom-line {
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: linear-gradient(to right,#12daff,#D721C9);
  border-color: transparent;
}


/****** Media Queries *****/

@media only screen and (max-width: 950px) {
  figure.effect-portfolio p {
    font-size: 90%
  }
  figure h2 {
    font-size: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /*Once 767 width reached, hide normal nav and display icon nav*/
  #navigation {
    display: none;
  }
  /*Using floats on header and right classes help them stay in the right place on screen resize*/
  .navbar-header {
    display: inline-block;
    float: left;
  }
  .navbar-right {
    float: right;
  }
  #mobile-nav {
    display: inline;
    white-space: nowrap;
  }
  #mobile-nav ul li {
    display: inline-block;
    padding: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* Hide hover effects for mobile */
  figure.effect-portfolio:hover img {
    -webkit-transform: none;
    transform: none;
  }
  figure.effect-portfolio:hover h2 {
    -webkit-transform: none;
    transform: none;
  }
  figure.effect-portfolio:hover p {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .intro-text {
    color: #fff;
    padding: 200px 0;
  }
}

@media only screen and (min-width: 950px) {
  .intro-text {
    color: #fff;
    padding: 300px 0;
  }
}








