html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.separator {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 15px auto;
  height: 2px;
  background: linear-gradient(to right,#12daff,#D721C9);
  border-color: transparent;
}

.container.contents h1 {
  color: #fff;
  font-size: 60px;
}

.special {
  color: #333;
}

.jumbotron .container {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;  
    display: -webkit-flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*********************
  navigation styles
**********************/

#navigation {
  padding: 0;
}

.navbar {
  margin: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

#mobile-nav {
  font-size: 1.4em;
  display: none;
}

#navigation a {
  color: #12daff;
}

#navigation a:hover {
  color: #ffffff;
}

.navbar a::after {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 75%;
  height: 1px;
  background: linear-gradient(to right,#12daff,#D721C9);
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  transform: translateY(-4px);
  }

.navbar a:hover::after,
.navbar a:focus::after {
  color: #ffffff;
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  }

/*********************
  heading styles
**********************/

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  margin-bottom: 0px;
  color: #ffffff;
}

#heading:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  background: url("assets/cannonbeach.jpg") center center fixed no-repeat;
  background-color: rgba(127, 76, 178, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
  will-change: transform;
}

.intro-text {
  padding-bottom: 300px;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
   -o-animation: fadein 3s;
      animation: fadein 3s;
}

.intro-text h1 {
    text-transform: uppercase;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.alex {
  font-size: 50px;
}

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 80%;
  transform-origin: 80% 80%;
  transform: translate3d(-80%, -80%, 0);
}

.arrow-1 {
    animation: arrow-movement 4s ease-in-out infinite;
}

.arrow-2 {
    animation: arrow-movement 4s 1.25s ease-in-out infinite;
}

.arrow-3 {
    animation: arrow-movement 4s 2.75s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #12daff;
  content: '';
  display: block;
  height: 3px; 
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0%   { 
    opacity: 0;
    top: 75%;
  }
  70% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}


/*********************
  portfolio styles
**********************/

#portfolio {
  background: #f6f9fc;
  padding: 150px 0;
}

#portfolio i {
  font-size: 20px;
}

.portfolio-title {
  color: #12daff;
  font-size: 60px;
}

.portfolio-tada {
  color: #12daff;
  font-size: 60px;
  padding-top: 100px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.portfolio-item {
  transition: all 0.3s ease-in-out;
  flex: 0 0 40%;
  margin: 30px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,box-shadow,transform;
  transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.portfolio-item img{
  border-radius: 3px;
  max-width: 490px;
}

.portfolio-item:hover 
{
  transform: translateY(-10px);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}                

#portfolio-text-content{
  margin-top: 0;
  color: #000000;
}

.portfolio-section{
  background: #ffffff;
  margin: 0 auto; 
}

.portfolio-section h2{
  margin-bottom:5px;
}

.card__container {
  height: 475px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  flex: 0 0 20%;
  margin: 30px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,box-shadow,transform;
  transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.card__container:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}

.card__image img {
  width: 300px;
  background-size: cover;
}

.card__body {
  position: relative;
  padding: 10px 35px;
  text-align: center;
  height: 275px;
}

.card__body__wrapper {
  position: absolute;
  top: -12px;
  left: 15px;
  z-index: 1;
}

.card__body__wrapper:before {
    position: absolute;
    top: -8px;
    left: -25px;
    content: "";
    display: block;
    width: 76px;
    height: 26px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 76px auto;
    clip: rect(0px, 76px, 26px, 10px);
    z-index: 0;  
}

.card__body__wrapper--source {
      position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px auto;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    z-index: 1;
    top: -1px;
}

.card__body__heading {
    font-weight: 400;
    color: #5f6368;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
}

.portfolio-items :nth-child(1n) > .card__footer {
  background: linear-gradient(45deg, #e91e63, #ffeb3b);
}
.portfolio-items :nth-child(2n) > .card__footer {
  background: linear-gradient(45deg, #3503ad, #f7308c);
}
.portfolio-items :nth-child(3n) > .card__footer {
  background: linear-gradient(45deg, #ccff00, #09afff);
}

.card__footer__options {
  display: flex;
  align-items: center;
}

.card__footer__options--source {
  cursor: pointer;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #edf2f6;
  color: #12daff;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  transition: color 0.35s, border 0.35s;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.card__footer__options--source::before {
  font-family: "FontAwesome";
  content: "\f113";
  font-size: 13px;
}

.card__footer__options--postmenu {
    cursor: pointer;
    color: #B2C0C8;
    width: 26px;
    text-align: center;
    margin-left: 5px;
}

.card__footer__options--postmenu:before {
  font-family: "FontAwesome";
  content: "\f141";
}

.card__footer__analysis--shares {
  color: #B2C0C8;
  width: 26px;
  height: 26px;
  font-size: 11px;
  margin-left: 10px;
}

.card__footer__analysis--shares:before {
  font-family: "FontAwesome";
  font-size: 14px;
  content: "\f064";
}

.card__footer__analysis--view {
  width: 26px;
  height: 26px;
  color: #6253e1;
  font-size: 11px;
  margin-left: 10px;
}

.card__footer__analysis--view:before {
  font-size: 18px;
  font-family: "FontAwesome";
  content: "\f2d0";
}


/*********************
  about me styles
**********************/

#about-me {
  font-size: 1.5em;
  background: linear-gradient(45deg, #ccff00, #09afff);
  color: #fff;
  padding: 150px 0 250px 0px;
}

#about-content {
  margin-top: 8%;
}

#about-me img {
  border-radius: 5%;
  width: 13em;
  height: auto;
}

#about-me p {
  font-size: 1.25em;
}

#resume {
  margin-top: 10%;
  outline: 0;
  color: #12daff;
  transition: 300ms;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6253e1, #852D91, #D721C9, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

#resume:hover {
  color: #ffffff;
}


/*********************
  contact styles
**********************/

#contact {
  background: linear-gradient(45deg, #e91e63, #ffeb3b);
  color: #ffffff;
  padding: 150px 0 100px 0;
}

.link-container {
  display:flex;
  justify-content: center;
  align-items: center;
  filter:url('#goo');
}

.link-container > .separator {
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: -10px 0 15px 0;
}

.social {
  position: relative;
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid 2px rgba(61, 61, 142, 0.86);
  display: inline-block;
  color: #FFF;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
}

.github, .linked-in, .twitter, .email {
  opacity: 0;
  font-size: 2em;
  padding: 10px;
  color: #ffffff;
}

.fa-github, .fa-linkedin, .fa-twitter, .fa-envelope {
  color: #ffffff;
}

.clicked {
  opacity: 1;
  transition: 1.2s all ease;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px); 
  transform: translateY(70px); 
}

.clicked:hover {
  transition: .5s all ease;
  -webkit-transform: translateY(56px);
  -ms-transform: translateY(56px);
  transform: translateY(56px);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}

.github {
  background-color: #333;
}

.linked-in {
  background: #007bb6;
}

.twitter {
  background: #55acee;
}

.email {
  background: #db4b39;
}

#bottom-line {
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: linear-gradient(to right,#12daff,#D721C9);
  border-color: transparent;
}


/*********************
  media queries
**********************/

@media only screen and (max-width: 950px) {
  figure.effect-portfolio p {
    font-size: 90%
  }
  figure h2 {
    font-size: 100%;
  }
}

@media only screen and (max-width: 960px) {
  #navigation {
    display: none;
  }

  .navbar-header {
    display: inline-block;
    float: left;
  }
  .navbar-right {
    float: right;
  }
  #mobile-nav {
    display: inline;
    white-space: nowrap;
  }
  #mobile-nav ul li {
    display: inline-block;
    padding: 0;
  }

  .intro-text {
    padding: 200px 0;
  }

  .separator {
    width: 80%;
  }

  .link-container > .separator {
    width: 80%;
  }

  .social {
    margin: 10px;
  }

  #bottom-line {
    width: 100%;
  }
}